.Desktop1 {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: linear-gradient(180deg, #613b3b 0%, #c77979 100%);
  }
  
  .BarraMenu {
    width: 100%;
    height: 15vh;
    position: relative;
    left: 0;
    top: 0;
    background: transparent; /* Hacer el fondo transparente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 -2px 10px rgba(0, 0, 0, 0.25); /* Sombra solo en el borde inferior */
    z-index: 10; /* Asegúrate de que esté por encima de otros elementos */
  }

  .MenuLogo {
    position:absolute;
    left: 0; 
    top: 0;
    height: 100%;
    width: 15vw;
  }

  .logo {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .MenuMiPerfil {
    width: 15vw;
    height: 100%;
    right: 15vw;
    top: 0;
    position: absolute;     
    background: transparent;
  }
  .menuSalir {
    width: 15vw;
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;     
    background: transparent;
  }
  
  .MenuMisAnuncios {
    width: 15vw;
    height: 100%;
    right: 30vw;
    top: 0;
    position: absolute;     
    background: transparent;
  }

  .MiPerfilButton,
  .MisAnunciosButton,
  .salirButton {
    width: 100%; /* Ocupa todo el ancho del div */
    height: 100%; /* Ocupa todo el alto del div */
    padding: 10px 20px;
    font-size: 1.5em; /* Tamaño de letra más grande */
    background-color: transparent; /* Fondo transparente */
    color: white; /* Color de la letra */
    border: none; /* Borde transparente */
    cursor: pointer;
    font-family: 'Copperplate', sans-serif; /* Cambia la fuente a Arial o cualquier otra fuente que prefieras */
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
  }

  .MiPerfilButton:hover,
  .MisAnunciosButton:hover,
  .salirButton:hover {
    background-color:  rgba(209, 49, 49, 0.4); /* Fondo semitransparente al pasar el cursor */
    color: white;
  }

.MiPerfilButton:active,
.MiPerfilButton.active,
.MisAnunciosButton:active,
.MisAnunciosButton.active,
.salirButton:active,
.salirButton.active {
  background-color: rgb(253, 0, 0); /* Color de fondo cuando el botón está activo */
  color: #613B3B; /* Color de la letra cuando el botón está activo */
  outline: none;
}

.cuerpo_ventana {
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Ajusta la altura para que ocupe el espacio restante debajo de la barra de menú */
    background: transparent; /* Fondo transparente */
  }
  
  .welcome-message {
    font-size: 3em; /* Tamaño de letra grande */
    color: #613B3B; /* Color de la letra */
    font-family: 'Poppins', sans-serif; /* Fuente Poppins */
    text-align: center;
  }

  .CuerpoVentana {
    align-self: stretch;
    padding-top: 5px;
    width: 100%;
    height: 85vh;
    justify-content: center;
    align-items: flex-start;
    display: inline-flex;
  }
  
  .DivIzquierda {
    height: 85vh;
    width: 30vw;
    align-self: stretch;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
  }
  
  .foto_usuario {
    width: 150px;
    aspect-ratio: 1 / 1;
    background: #D9D9D9;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .foto{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .usuario,
  .nombreEmpresa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background: transparent;
  }
  
  .usuario h2,
  .nombreEmpresa h2 {
    font-size: 1em; /* Tamaño de letra */
    color: #613B3B; /* Color de la letra */
    font-family: 'Poppins', sans-serif; /* Fuente Poppins */
    font-weight: 600; /* Peso de la fuente */
    text-align: center; /* Alinear el texto al centro */
    margin: 0; /* Eliminar márgenes */
    padding: 10px 20px; /* Añadir relleno */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para efecto 3D */
  }
  
  .DivDerecha {
    width: 70vw;
    align-self: stretch;
    padding-top: 6vh;
    padding-left: 95px;
    padding-right: 160px;
    padding-bottom: 20vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    overflow-y: auto; /* Permitir desplazamiento vertical */
    max-height: 100%;
    gap:70px;
  }
  
  .CampoEmail,
  .CampoContraseA,
  .CampoDescripcion {
    width: 55vw;
    height: 25vh;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    gap: 2vh;
  }
  .email_ver_editar,
  .contrasena_ver_editar,
  .descripcion_ver_editar{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2vw;
  }
  
  .EmailTitulo,
  .ConstraseATitulo,
  .DescripcionTitulo {
    width: 228px;
    height: 27px;
    background: #D9D9D9;
    border-radius: 8px;
  }
  
  .EditarEmail,
  .EditarContraseA,
  .EditarDescripcion {
    width: 50px;
    aspect-ratio: 1 / 1; /* Mantiene la proporción cuadrada */
    background: #D9D9D9;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease;
  }
  .EditarEmail:hover,
  .EditarContraseA:hover,
  .EditarDescripcion:hover {
    background-color: #c0c0c0;
  }
  
  .editar_button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .editar_button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .Email,
  .ContraseA,
  .DescripciN {
    width: 70vw;
    height: 8vh;
    background: #D9D9D9;
    border-radius: 8px;
    position: relative;
    padding: 10px; /* Añadir relleno */
    font-family: 'Poppins', sans-serif; /* Fuente Poppins */
    font-size: 1em; /* Tamaño de letra */
    color: #333; /* Color de la letra */
    display: flex;
    align-items: center; /* Alinear verticalmente al centro */
    justify-content: space-between; /* Alinear horizontalmente a la izquierda */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra interna para efecto 3D */
    overflow: hidden; /* Ocultar desbordamiento */
    text-overflow: ellipsis; /* Añadir puntos suspensivos si el texto es demasiado largo */
    white-space: nowrap; /* Evitar que el texto se envuelva */
  }

  .password-mask{
    -webkit-text-security: disc;
  }

  .togglePassword {
    width: 3vw;
    height: 3vh;
    background: #D9D9D9;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease;
    position: relative;
  }
  
  .toggle_button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
  }
  
  .toggle_button:focus,
  .toggle_button:active {
    outline: none; 
    border: none;  
    box-shadow: none; 
  }
  
  .toggle_button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: darken; 
  }

  .Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #AF7077;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .saveButton, .cancelButton {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .saveButton {
    background-color: #4CAF50;
    color: white;
  }
  
  .cancelButton {
    background-color: #f44336;
    color: white;
    margin-left: 10px;
  }

  .Toastify__toast-container {
    z-index: 9999;
  }
  