html {
  scroll-behavior: smooth;
}

.Desktop1 {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: linear-gradient(180deg, #613b3b 0%, #c77979 100%);
  }
  
  .BarraMenu {
    width: 100%;
    height: 15vh;
    position: relative;
    left: 0;
    top: 0;
    background: transparent; /* Hacer el fondo transparente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 -2px 10px rgba(0, 0, 0, 0.25); /* Sombra solo en el borde inferior */
    z-index: 10; /* Asegúrate de que esté por encima de otros elementos */
  }

  .MenuLogo {
    position:absolute;
    left: 0; 
    top: 0;
    height: 100%;
    width: 15vw;
  }

  .logo {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .MenuMiPerfil {
    width: 15vw;
    height: 100%;
    right: 15vw;
    top: 0;
    position: absolute;     
    background: transparent;
  }
  .menuSalir {
    width: 15vw;
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;     
    background: transparent;
  }
  
  .menuMisAnuncios,
  .menuSolicitudes {
    width: 15vw;
    height: 100%;
    right: 30vw;
    top: 0;
    position: absolute;     
    background: transparent;
  }

  .MiPerfilButton,
  .MisAnunciosButton,
  .salirButton,
  .MisSolicitudesButton {
    width: 100%; /* Ocupa todo el ancho del div */
    height: 100%; /* Ocupa todo el alto del div */
    padding: 10px 20px;
    font-size: 1.5em; /* Tamaño de letra más grande */
    background-color: transparent; /* Fondo transparente */
    color: white; /* Color de la letra */
    border: none; /* Borde transparente */
    cursor: pointer;
    font-family: 'Copperplate', sans-serif; /* Cambia la fuente a Arial o cualquier otra fuente que prefieras */
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
  }

  .MiPerfilButton:hover,
  .MisAnunciosButton:hover,
  .salirButton:hover,
  .MisSolicitudesButton:hover {
    background-color:  rgba(209, 49, 49, 0.4); /* Fondo semitransparente al pasar el cursor */
    color: white;
  }

.MiPerfilButton:active,
.MiPerfilButton.active,
.MisAnunciosButton:active,
.MisAnunciosButton.active,
.salirButton:active,
.salirButton.active,
.MisSolicitudesButton:active,
.MisSolicitudesButton.active {
  background-color: #f44336; /* Color de fondo cuando el botón está activo */
  color: #613B3B; /* Color de la letra cuando el botón está activo */
  outline: none;
}

.cuerpo_ventana {
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: transparent; /* Fondo transparente */
    position: relative;
    min-height: 0;
  }
  
  .welcome-message {
    font-size: 3em; /* Tamaño de letra grande */
    color: #613B3B; /* Color de la letra */
    font-family: 'Poppins', sans-serif; /* Fuente Poppins */
    text-align: center;
  }

  .CuerpoVentana {
    align-self: stretch;
    padding-top: 5px;
    width: 100%;
    height: 85vh;
    justify-content: center;
    align-items: flex-start;
    display: inline-flex;
  }
  
  .DivIzquierda {
    height: 85vh;
    width: 30vw;
    align-self: stretch;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
  }
  
  .foto_usuario {
    width: 150px;
    aspect-ratio: 1 / 1;
    background: #D9D9D9;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .foto{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .usuario,
  .nombreEmpresa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background: transparent;
  }
  
  .usuario h2,
  .nombreEmpresa h2 {
    font-size: 1em; /* Tamaño de letra */
    color: #613B3B; /* Color de la letra */
    font-family: 'Poppins', sans-serif; /* Fuente Poppins */
    font-weight: 600; /* Peso de la fuente */
    text-align: center; /* Alinear el texto al centro */
    margin: 0; /* Eliminar márgenes */
    padding: 10px 20px; /* Añadir relleno */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para efecto 3D */
  }
  
  .DivDerecha {
    width: 70vw;
    align-self: stretch;
    padding-top: 6vh;
    padding-left: 95px;
    padding-bottom: 20vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    overflow-y: auto; /* Permitir desplazamiento vertical */
    max-height: 100%;
    gap:70px;
  }
  
  .CampoEmail,
  .CampoContraseA,
  .CampoDescripcion {
    width: 55vw;
    height: 25vh;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    gap: 2vh;
  }
  .email_ver_editar,
  .contrasena_ver_editar,
  .descripcion_ver_editar{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2vw;
  }
  
  .EmailTitulo,
  .ConstraseATitulo,
  .DescripcionTitulo {
    width: 228px;
    height: 27px;
    background: #fde9eb;
    border-radius: 8px;
  }
  
  .EditarEmail,
  .EditarContraseA,
  .EditarDescripcion {
    width: 50px;
    aspect-ratio: 1 / 1; /* Mantiene la proporción cuadrada */
    background: #D9D9D9;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease;
  }
  .EditarEmail:hover,
  .EditarContraseA:hover,
  .EditarDescripcion:hover {
    background-color: #c0c0c0;
  }
  
  .editar_button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .editar_button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .Email,
  .ContraseA,
  .DescripciN {
    width: 70vw;
    min-height: 8vh;
    background: #fde9eb;
    border-radius: 8px;
    padding: 10px;
    font-family: 'Poppins', sans-serif; 
    font-size: 1em; 
    color: #333; 
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
  }

  .DescripciN {
    display: block;
    height: auto;
    overflow-y: auto;
    white-space: pre-wrap;
  }

  .password-mask{
    -webkit-text-security: disc;
  }

  .togglePassword {
    width: 3vw;
    height: 3vh;
    background: #fde9eb;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease;
    position: relative;
  }
  
  .toggle_button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
  }
  
  .toggle_button:focus,
  .toggle_button:active {
    outline: none; 
    border: none;  
    box-shadow: none; 
  }
  
  .toggle_button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: darken; 
  }

  .Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #AF7077;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    scroll-behavior: smooth;
  }
  
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .saveButton, .cancelButton {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .saveButton, 
  .postButton {
    background-color: #4CAF50;
    color: white;
  }

  .suggestEditButton {
    background-color: rgb(205, 190, 50);
  }
  
  .cancelButton {
    background-color: #f44336;
    color: white;
    margin-left: 10px;
  }

  .Toastify__toast-container {
    z-index: 9999;
  }
  
  .StyledTextarea {
    width: 100%;
    height: 150px; /* Ajusta la altura según sea necesario */
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: black;
    background-color: #fde9eb;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical; /* Permitir que el usuario cambie el tamaño verticalmente */
  }
  
  .addAd {
    background-color: transparent;
    position: absolute;
    bottom: 1vh;
    right: 1vw;
    width: 70px;
    height: 70px;
  }
  
  .addAd button {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: rgba(133, 26, 26, 0.685);
    display: flex;
    align-items: center; 
    justify-content: center;
    border: none;
    padding: 0;
    text-align: center;
    font-size: 3em;
    padding-bottom: 9px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .addAd button:hover {
    transform: scale(0.8);
    background-color: #f44336;
  }

  .addAd button:active {
    transform: scale(1);
    background-color: #f44336;
    outline: none;
  }

  .addAd button:focus {
    outline: none;
  }
  
  .StyledTextareaVacancy {
    width: 100%;
    height: auto; 
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: black;
    background-color: #fde9eb;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical; 
  }

  .vacancyModal,
  .requestModal {
  background-color: #b64d4d;
  border-radius: 10px;
  padding: 20px;
  max-width: 80vw;
  max-height: 80vh;
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.vacancyModalHead,
.requestModalHead {
  background-color: #b64d4d;
  border-radius: 10px;
  padding: 20px;
  max-width: 80vw;
  height: 10vh;
  max-height: 10vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.requestModalHead {
  height: 22%;
  max-height: 22%;
  padding: 3%;
}

.vacancyModalBody,
.requestModalBody {
  background-color: #b64d4d;
  border-radius: 10px;
  padding: 20px;
  max-width: 80vw;
  width: 90%;
  height: 70vh;
  max-height: 70vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.addVacancyName,
.addVacancyDescription,
.addVacancyMedia,
.addVacancyLink,
.addVacancySocialMedia,
.addVancaySuggestEdit {
  background-color: transparent;
  padding: 10px;
  width: 100%;
}

.addVacancyMedia input[type= "file"] {
  display:none;
}

.custom-file-upload {
  background-color: rgba(36, 123, 238, 0.897);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  display: inline-block;
  transition: background-color, transform 0.3s ease;
}

.custom-file-upload:hover {
  background-color: rgb(36, 123, 238); 
  transform: scale(0.8);
}

.custom-file-upload:active {
  transform: scale(1);
}

.social-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  gap: 30px; 
}

.social-options label {
  background-color: #f44336;
  border-radius: 5px;
  padding: 20px;
  height: 10vh;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Espacio entre el checkbox y el texto */
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.7s ease;
  text-align: center;
  user-select: none;
}

.social-options label:hover {
  transform: scale(1.05);
}
.social-options label:active {
  transform: scale(1);
}
.social-options label.active{
  background-color: #02d2f7 ;
  transform: scale(0.8);
}

.social-options input[type="checkbox"] {
  display: none;
}


.vacancyModalFoot {
  background-color: #b64d4d;
  border-radius: 10px;
  padding: 15px 50px;
  max-width: 80vw;
  width: 90%;
  height: 10vh;
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.vacancys,
.requests {
  background-color: transparent;
  width: 80%;
  height: 100%;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 25px;
  overflow-y: scroll;
  min-height: 0;
}

.vacancyCard,
.requestCard {
  width: 90%;
  height: auto;
  min-height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(214, 205, 205);
  color: black;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5),
              -4px -4px 10px rgba(255, 255, 255, 0.1);
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  padding: 20px;
  overflow-x: hidden;
}
.requestCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30%;
}

.requestCardHeader {
  width: 50%;
  height: 100%; 
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}



.vacancyCard:hover {
  transform: scale(1.05);
  overflow-x: hidden;
}

.vacancyCard.expanded {
  min-height: 500px;
  overflow-y: auto;
}

.vacancyHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.vacancyDetails {
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  max-height: 0;
  opacity: 0;
}

.vacancyDetails img {
  width: 50%;
}

.vacancyCard.expanded .vacancyDetails {
  max-height: 500px;
  opacity: 1;
  overflow-y: auto;
}

.vacancyState,
.requestState {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  padding: 10px;
}
.requestState img {
  width: 30%;
  border-radius: 50%;
  mix-blend-mode: darken;
  object-fit: contain; 
  transition: opacity 0.3s ease-in-out;
}