* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.Login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #613b3b 0%, #c77979 100%);
  position: relative;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

.Background {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.LogoRectangle,
.LoginRectangle {
  width: 35vw; /* Se ajusta proporcionalmente */
  max-width: 516px;
  height: 450px; /* Se adapta dinámicamente */
  max-height: 483px;
  border-radius: 50px;
  background: linear-gradient(180deg, #f0b2b3 22%, #ff0004 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.7;
  position: relative;
  padding-top: 3vh;
  padding-bottom: 15px;
}


.LogoRectangle {
  margin-right: 2vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.head_session {
  width: 85%;
  height: 10vh;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 2vh
}
.session_rectangle {
  width: 85%;
  flex: 1;
  overflow-y: auto;
}
.session_rectangle::-webkit-scrollbar {
  width: 12px; /* Ancho del scrollbar */
}

.session_rectangle::-webkit-scrollbar-track {
  background: #f0b2b3; /* Color de fondo del track */
  border-radius: 10px; /* Bordes redondeados */
}

.session_rectangle::-webkit-scrollbar-thumb {
  background: #ff0004; /* Color del thumb */
  border-radius: 10px; /* Bordes redondeados */
  border: 3px solid #f0b2b3; /* Espacio alrededor del thumb */
}

.session_rectangle::-webkit-scrollbar-thumb:hover {
  background: #d90003; /* Color del thumb al pasar el mouse */
}

.IniciarSesion {
  font-size: 2vw; 
  font-family: "Inter", sans-serif;
  left: 0;
  color: black;
}
.register_buttons {
  width: 50%;
  height: 10vh;
  display: flex;
  align-items: center;
}
.login_button,
.register_button {
  margin-right: 0;
  position: relative;
  width: 50%;
  height: 60%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
}
.login_button {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.register_button {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.login_button:hover,
.register_button:hover {
  background: #9c1621;
  color: white;
}
.login_button:active,
.login_button.active,
.register_button:active,
.register_button.active {
  background: #ff0004;
  color: white;
  outline: none;
}

.login_rectangle, 
.register_rectangle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.register_rectangle {
  overflow-y: auto;
}
.LoginRectangle::-webkit-scrollbar {
  width: 0px; /* Ancho de la barra de desplazamiento */
  background: transparent; /* Fondo de la barra de desplazamiento */
}


.inputBox,
.inputBoxConfirmPassword {
  width: 100%;
  border-radius: 10px;
  height: 60px; 
  margin: 1vh 0;
  position: relative;
}

.inputBox input, 
.inputBoxConfirmPassword input {
  position: relative;
  width: 100%;
  padding: 25px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: white;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;

}

.inputBox span,
.inputBoxConfirmPassword span{
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #000000;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}
.inputBoxConfirmPassword span {
  padding-left: 5px;
  font-size: 0.98em
}

.inputBox input:valid ~span,
.inputBox input:focus ~span,
.inputBoxConfirmPassword input:valid ~span,
.inputBoxConfirmPassword input:focus ~span {
  color: #000000;
  transform: translateX(-5px) translateY(-31px);
  font-size: 0,75em;
}

.inputBox i,
.inputBoxConfirmPassword i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: black;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputBox input:valid ~i,
.inputBox input:focus ~i,
.inputBoxConfirmPassword input:valid ~i,
.inputBoxConfirmPassword input:focus ~i {
  height: 50px;
}

/* .StyledInput, */
.StyledSelect {
  width: 100%/*  */;
  height: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
  background-color: #000000;
}




.StyledInput:focus {
  border-color: #ff0004;
  box-shadow: 0 4px 6px rgba(255, 0, 4, 0.3);
  outline: none;
}


.Ingresar {
  width: 15vw;
  height: 40px;
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  font-size: 1.5vw;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.Ingresar:hover {
  background: linear-gradient(90deg, #feb47b, #ff7e5f);
  transform: scale(1.05);
}

.Ingresar:active {
  transform: scale(0.95);
}

.Logo {
  width: 90%;
  max-width: 465px;
}


.circle {
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  top: 50%;
  transform-origin: center;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    transform: translateY(0px) scaleX(1.5);
  }
  50% {
    transform: translateY(-5px) scaleX(1);
  }
  100% {
    transform: translateY(-10px);
  }
}

.circle:nth-child(1) {
  left: 24%;
  animation-delay: 0.1s;
}

.circle:nth-child(2) {
  left: 47%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: 70%;
  animation-delay: 0.3s;
}

.shadow {
  width: 15px;
  height: 3px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 80%;
  transform-origin: center;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }
  50% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.5);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 22%;
  animation-delay: 0.1s;
}

.shadow:nth-child(5) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(6) {
  left: 68%;
  animation-delay: 0.3s;
}